html,body {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

#app-logger {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .app-logger-inputs {
    display: flex;
    flex-direction: column;

    input {
      font-size: 1.2em;
      margin-bottom:16px;
      padding: 8px;
    }
  }

  button {
    background: #19E;
    padding: 8px 40px;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 16px;
    color:white;
  }
}

#app-news-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;

  .app-news-feed-list {
    width:90vw;
    max-width: 600px;
    overflow: hidden;

    .news-feed-card {
      background: white;
      padding: 16px;
      margin:0 0 16px;
      border-radius: 8px;
    }
  }
}
